@import "../../Colors.css";

.remmoveLinkStyles {
  text-decoration: none;
  color: var(--black);
}

.sliderContainer {
  display: flex;
  flex-direction: column;
}

.sliderContainer .title {
  font-size: 2.4rem;
  padding: 25px;
  font-weight: 600;
  color: var(--white);
}

.cardContainer {
  overflow: hidden;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.cards {
  display: flex;
  overflow: visible;
}

.swiper {
  overflow: visible;
  min-width: 130px;
  width: 130px;
  height: 160px;
  background-color: var(--gray);
  border-radius: 10px;
  margin-left: 10px;
}

.li {
  margin-top: -10px;
}

@media (max-width: 376px) {
  .sliderContainer .title {
    font-size: 2rem;
  }
}

@media (max-width: 321px) {
  .sliderContainer .title {
    font-size: 1.5rem;
  }
}
