@import "../../../Colors.css";

.footer {
  width: 100%;
  height: 100%;
  margin-top: 35px;
}

.footer .title {
  color: var(--half_black);
  font-weight: lighter;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer .description {
  font-size: 1.2rem;
  font-weight: lighter;
}
