.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  border-radius: 10px;
}

.cardImg {
  margin-top: -50px;
  width: 100%;
  padding: 25px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85px;
  margin-bottom: 35px;
}

.description h3 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.description h1 {
  font-size: 1.25rem;
  font-weight: 600;
}
